body {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 784px;
    flex-wrap: wrap;
    background-color: azure ;

}

.container {
    border: 2px solid  black;
    display: flex;
    flex-direction: column;
    width: 280px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(239, 239, 235);
    
}

.screen {
    height: 60px;
    width: 255px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    font-weight: 700;
    font-size: 40px;
    text-shadow: 1.3px 1.3px #383838;
    background-color: rgb(224, 229, 233);
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    
}

.operand.zero{
    width: 119px;
}

button {
    height: 55px;
    width: 55px;
    margin: 5px;
    font-size: 18px;
    border-color: white;
    border-radius: 4px;
}

button:hover{
    background-color: #434348; /* Green */
    color: rgb(255, 255, 255);
}

.operator, .pos_neg, .percent {
    color: green;

}

.operator:focus {
    background-color: #9c9c9c;
}

.clear {
    color: brown;
}

.equal {
    background-color: green;
    color: white;
}


